.container {
  max-width: 800px;
  margin: 10px auto;
}

.grid {
  float: left;
  width: 60%;
  margin-left: 20%;
}

.instructions {
  float: left;
  width: 20%;
}

table {
  margin: auto;
}

table tr td {
  height: 30px;
  width: 30px;
  padding: 10px;
  border: 2px solid #ccc;
}

.dot {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}
